#error {
    div {
        p {
            text-align: center;
            font-size: 2em;
        }
    }
}

#homepage {
    .react-rotating-text-cursor {
        animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
    }

    @keyframes blinking-cursor {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    .homepage-section-dark {
        height: 40em;
        background: #2a2a2e;
        color: #fff
    }

    .homepage-section-light {
        height: 40em;
        background: #fff;
        color: #2a2a2a;
    }

    #homepage-section1 {
        min-height: 50vh;
        // background: #111;
        // background-image: url('../../assets/images/background2.jpg');
        // background-repeat: round;
        // background-position: center;
        // background-size: cover;
    }

    #homepage-section2 {
        color: inherit;
    }
}

footer {
    div {
        padding: 1.2em 0;

        div {
            #copyright-symbol {
                font-size: 26px;
            }

            #copyright-undertext {
                font-size: 16px;
            }

            #footer-logo {
                // width:100px;
                height: 200px;
            }
        }

        #footer-social-media {
            img {
                height: auto;
                width: 60px;
                padding: 0 10px 10px 10px;
            }
        }
    }
}

nav {
    background: #333;

    #nav-dropdown {
        background: #333
    }
}

#navbarScrollingDropdown {
    color: white;
}

#basic-navbar-nav {
    color: white;
}

.InfoBox {
    background: #222;
    color: white;
    font-size: larger;
    overflow-wrap: break-word;

    h2 {
        padding: 0 0 0.6em 0;
    }
}

#project > div > * {

    // background: green;
    filter: grayscale(1) blur(1px);
    transition: 0.6s;

    &:hover {
        filter: grayscale(0.2);
        // filter: grayscale(0.1)
        // animation: grayScale 1s;
    }
}

@keyframes grayScale {
    from {
        filter: grayscale(1)
    }

    to {
        transform: scale(2);
        filter: grayscale(0.1)
    }
}