// Footer CSS positioning is on app.scss
footer {
    div {
        margin: 20px 0 0 0;
        div {
            #copyright-symbol {
                font-size: 26px;
            }
            #copyright-undertext {
                font-size:16px;
            }
            #footer-logo {
                // width:100px;
                height:200px;
            }
        }
        #footer-social-media {
            img {
                height:auto;
                width: 60px;
                padding: 0 10px 10px 10px;
            }
        }
    }
}
