$bodycolor: #2a2a2e;

#tatewbs {
  background: white;

  nav {
    background: $bodycolor;
  }

  .error {
    margin: 6em 0 0 0;
  }

  footer {
      position: absolute;
      bottom:0;
      width:100%;
      height: 15em;
      background: black;
  }
}
