#homepage {
    .homepage-section-dark {
        height: 40em;
        background:#2a2a2e;
        color: #fff
    }
    .homepage-section-light {
        height: 40em;
        background:#fff;
        color: #2a2a2a;
    }

    #homepage-section1 {
        min-height: 95vh;
        background: #111;
        background-image: url('../../assets/images/background.jpg');
        // background-repeat: round;
        background-position: center;
        background-size: cover;
        div {
            width:100%;
            background:white;
        }
    }

    #homepage-section2 {
        color: inherit;
    }
}